/* stylelint-disable indentation */
.first_form {
    padding: 50px;
    width: 50%;
}

.input_box {
    width: 50vw !important;
}

.form {
    border: 1px solid black !important;
    padding: 40px;
}

.input_box {
    margin-left: 10px;
}

.post_card {
    border: 1px solid red;
    margin: 30px !important;
    padding: 20px !important;
}

.image {
justify-content: center !important;
width: 100% !important;
max-width: 330px !important;
object-fit: contain;
}
